.radioLabel {
    color: gray;
    font-family: "Helvetica",Verdana,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.45;
    padding: 0;
    word-wrap: break-word;
    font-weight: 700;
 
}

.requiredOne {
    color: #790000;
    margin-left: 4px;
}

.FormControlLabel-label {
    padding: 0;
    width: auto;
    line-height: 1.5;
    font-size: .875em;
    vertical-align: middle;
    max-width: 85%;
    white-space: normal;
    cursor: pointer;
    margin: 2px 0 0 4px;
    
}

.Button {
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
@media only screen and  (max-width: 768px) {
    .Button {
        width: 100%;
        transition: width 2s, height 2s, background-color 2s, transform 2s;
    }
}